* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  color: #545454;
}

.container {
  background: #2c99d8;
  margin: 50px;
  padding: 50px;
  width: 500px;
  height: 500px;
  border-radius: 25px;
}
.container .title {
  text-align: center;
}
.container .title span {
  color: #F2EBD3;
}