* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease;
}

body {
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    color: $black;
    background-color: $white;
}